body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,input {
	margin: 0;
	padding: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

fieldset,img {
	border: none
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal
}

ol,ul,li {
	list-style-type: none;
	padding: 0
}

caption,th {
	text-align: left
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal
}

q:before,q:after {
	content: ''
}

abbr,acronym {
	border: none
}

body {
	font-size: 12px
}

img {
	border: 0;
	vertical-align: top
}

a {
	cursor: pointer
}

a:link,a:visited {
	text-decoration: none;
	color: #333;
	cursor: pointer
}

a:hover,a:active {
	text-decoration: none;
	color: #387aa9;
	cursor: pointer
}

.clear {
	zoom: 1
}

.clear:after {
	content: '';
	display: block;
	clear: both
}

.fleft {
	float: left
}

.fright {
	float: right
}

.re {
	position: relative
}

label[for] {
	cursor: pointer
}

.cen {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden
}

header,footer,nav {
	display: block
}

body {
	font-family: "microsoft YaHei";
	color: #333
}

.border_dotted {
	border-bottom: 1px dotted #ccc
}

header {
	background: url("../res/images/headerbg.jpg") repeat-x;
	min-width: 960px;
	height: 80px
}

header .logo {
	width: 122px;
	height: 80px;
	float: left;
	background: url("../res/images/logo.png") no-repeat;
	text-indent: 99999px
}

header nav ul {
	float: right
}

header nav ul li {
	float: left;
	padding: 0 14px;
	line-height: 80px;
	font: italic 16px/80px "microsoft YaHei"
}

.main {
	background: #f2f2f2;
	width: 100%;
	box-shadow: inset 0 1px 15px #e9e9e9;
	padding-bottom: 30px
}

.main h2.title {
	padding: 55px 0 40px 0;
	font: bold 50px "Arial";
	text-align: center;
	color: #292f2b;
	border-bottom: 1px dotted #ccc
}

.main h2.title span {
	font-style: italic;
	padding-left: 25px;
	color: #77787c;
	display: inline-block
}

.main p.text {
	height: 80px;
	line-height: 80px;
	text-align: center;
	border-bottom: 1px dotted #ccc;
	font-size: 18px
}

.main ul#list {
	padding: 35px 0;
	width: 1050px;
	overflow: hidden
}

.main ul#list li {
	float: left;
	padding: 4px;
	border: 1px solid #ccc;
	margin: 0 20px 20px 0;
	border-radius: 4px;
	box-shadow: 1px 1px 2px #e8e8e8;
	position: relative
}

.main ul#list li .mask {
	background: #000;
	opacity: .5;
	filter: alpha(opacity=50);
	position: absolute;
	top: 4px;
	left: 4px;
	width: 224px;
	height: 140px
}

.main ul#list li .mask_content {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 200px;
	height: 120px;
	color: #ffffff;
	padding: 15px
}

.main ul#list li .mask_content h4 {
	font-size: 16px;
	line-height: 34px
}

.main ul#list li .mask_content p {
	line-height: 20px
}

.main .main_bottom .main_nav {
	margin: 6px 3px;
	box-shadow: -1px -1px 1px #e8e8e8,2px 2px 3px #e4e4e4;
	clear: both;
	overflow: hidden;
	height: 36px;
	border-radius: 4px
}

.main .main_bottom .main_nav li {
	float: left;
	padding: 4px;
	line-height: 28px
}

.main .main_bottom .main_nav li a {
	font-size: 14px;
	font-weight: bold;
	color: #5a4d47;
	height: 28px;
	padding: 0 12px;
	display: inline-block;
	border-radius: 4px
}

.main .main_bottom .main_nav li a:hover {
	background: #8c8c8c;
	color: #fff
}

.main .main_bottom .page span {
	font-size: 14px
}

.main .main_bottom .page a {
	background: url(../res/images/page.jpg) no-repeat;
	display: inline-block;
	width: 34px;
	height: 34px;
	vertical-align: middle
}

.main .main_bottom .page a.prev {
	margin-left: 8px
}

.main .main_bottom .page a.next {
	background-position: -40px 0
}

footer {
	background: #f8f8f8;
	height: 80px;
	line-height: 80px;
	text-align: center
}



/* Home styles */
/* ----------------------------------------------------------*/

.home h1 {
	margin-bottom: 25px;
}

.posts {
	list-style-type: none;
}

.posts li {
	margin-bottom: 30px;
}

.posts .post-link {
	font-size: 24px;
	letter-spacing: -1px;
	line-height: 1;
}

.posts .post-date {
	display: block;
	font-size: 15px;
	color: #818181;
}


/* Post styles */
/* ----------------------------------------------------------*/

.post-header {
	margin: 10px 0 30px;
}

.post-header h1 {
	font-size: 42px;
	letter-spacing: -1.75px;
	line-height: 1;
	font-weight: 300;
}

.post-header .meta {
	font-size: 15px;
	color: #818181;
	margin-top: 5px;
}

.post-content {
	margin: 0 0 30px;
}

.post-content > * {
	margin: 20px 0;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
	line-height: 1;
	font-weight: 300;
	margin: 40px 0 20px;
}

.post-content h2 {
	font-size: 32px;
	letter-spacing: -1.25px;
}

.post-content h3 {
	font-size: 26px;
	letter-spacing: -1px;
}

.post-content h4 {
	font-size: 20px;
	letter-spacing: -1px;
}

.post-content blockquote {
	border-left: 4px solid #e8e8e8;
	padding-left: 20px;
	font-size: 18px;
	opacity: .6;
	letter-spacing: -1px;
	font-style: italic;
	margin: 30px 0;
}

.post-content ul,
.post-content ol {
	padding-left: 20px;
}

.post pre,
.post code {
	border: 1px solid #d5d5e9;
	background-color: #eef;
	padding: 8px 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 15px;
	overflow: scroll;
}

.post code {
	padding: 1px 5px;
}

.post ul,
.post ol {
	margin-left: 1.35em;
}

.post pre code {
	border: 0;
	padding-right: 0;
	padding-left: 0;
}

.product a{
	color:#ffffff;
}
